@model ECommerceProject.WebUI.Models.Cart.CartModel
 <!-- Cart -->
<div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <i class="fa fa-shopping-cart"></i>
        <span asp-controller="Cart" asp-action="Checkout">Your Cart</span>
        <div class="qty">@Model.TotalProductQuantity</div>
    </a>
    <div class="cart-dropdown">
        <div class="cart-list">
            @if (Model != null)
            {
                @for (int i = 0; i < Model.ProductName.Count; i++)
                {
                    <div class="product-widget">
                        <div class="product-img">
                            <img src="@Model.ImageUrl[i]" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="#">@Model.ProductName[i]</a></h3>
                            <h4 class="product-price"><span class="qty">@Model.Quantity[i]</span>@(Model.Price[i] * @Model.Quantity[i])</h4>
                        </div>
                        @* <button class="delete" asp-controller="Cart" asp-action="RemoveFromCart"><i class="fa fa-close"></i></button> *@
                    </div>
                }
            }

        </div>
                <div class="cart-summary">
                    <small>@Model.TotalProductQuantity Item(s) selected</small>
                    <h5>SUBTOTAL: @Model.TotalPrice.ToString("C")₺</h5>
                </div>
                <div class="cart-btns">
                    @* <a href="#">View Cart</a> *@
                    <a asp-controller="Cart" asp-action="Checkout">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- /Cart -->
