
<table class="table table-striped table-sm text-center font-weight-bold">
    <tr>
        <th>Products of Order</th>
        <th>Order Number</th>
        <th>Username</th>
        <th>Order State</th>
        <th>Order Date</th>
        <th>Total</th>
    </tr>
    @if (Model != null)
    {
        @foreach (var x in Model)
        {
            <tr>

                <td id="ShowOrderState">
                    <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#ShowOrderState" data-url="@Url.Action("ShowOrderLines", "Order", new {id = x.OrderId})">Show Products</button>
                </td>
                <td>@x.OrderNumber</td>


                <td>@x.UserName</td>


                <td id="UpdateOrderState">
                    @x.OrderState <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#UpdateOrderState" data-url="@Url.Action("Edit", "Order", new {id = x.OrderId})">Update</button>
                </td>


                @if ((DateTime.Today.Day - x.OrderDate.Day) >= 7)
                {
                    <td style="color: red">@x.OrderDate.ToShortDateString()</td>
                }

                @if ((DateTime.Today.Day - x.OrderDate.Day) >= 4 && (DateTime.Today.Day - x.OrderDate.Day) <= 6)
                {
                    <td style="color: orange">@x.OrderDate.ToShortDateString()</td>
                }

                @if ((DateTime.Today.Day - x.OrderDate.Day) <= 3)
                {
                    <td style="color: green">@x.OrderDate.ToShortDateString()</td>
                }


                <td>@x.Total.ToString("C")</td>

            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3" class="text-center">
                <p>
                    <b>There is not any order.</b>
                </p>
            </td>
        </tr>
    }

</table>