@model IEnumerable<ECommerceProject.WebUI.Models.ViewComponent.NewProductsViewModel>
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">New Products</h3>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                               
                                @foreach (var product in Model)
                                {
                                    <!-- product -->
                                    <div class="product">
                                        <div class="product-img">
                                            <a asp-controller="Product" asp-action="ProductDetails" asp-route-productId="@product.ProductId"> <img src="~/productimages/@product.ImageUrl" alt=""></a>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">@product.CategoryName</p>
                                            <h3 class="product-name"><a href="#">@product.ProductName</a></h3>
                                            <h4 class="product-price">@product.Price.ToString("C")</h4>
                                      
                                            <div class="product-btns">
                                                <button  class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Add to Wishlist</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Add to Compare</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                           w
                                            <a asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@product.ProductId" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                        </div>
                                    </div>
                              
                                    <!-- /product -->
                                }
                              
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->