@model cloudscribe.Pagination.Models.PagedResult<ECommerceProject.AdminUI.Models.AdminRole.ViewUsersViewModel>
@{
    ViewData["Controller"] = "AdminUsers";
    ViewData["Action"] = "Search";
    ViewData["Model"] = Model;
    Layout = Layout;
}
@section scripts{
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
    $(function () {
        var placeHolderElement = $("#PlaceHolderHere");
        $('button[data-toggle="ajax-modal"]').click(function (event) {
            var url = $(this).data("url");
            var decodeUrl = decodeURIComponent(url);
            $.get(decodeUrl).done(function (data) {
                placeHolderElement.html(data);
                placeHolderElement.find(".modal").modal('show');
            });
        });
    
        placeHolderElement.on("click", 'button[data-save="modal"]', function (event) {
            event.preventDefault();
            var form = $(this).parents(".modal").find('form');
            var actionUrl = form.attr("action");
            var sendData = form.serialize();
            $.post(actionUrl, sendData).done(function (data) {
                placeHolderElement.find(".modal").modal('hide');
                $.get("/AdminUsers/ChangeRole", function (result) {
                    $("#UpdateUserRole").html(result); 
                });
            });
        });
    }) 
    </script>
}
<div id="PlaceHolderHere"></div>
<div class="container">


    @await Component.InvokeAsync("SearchForUsers", new {UserName = ViewData["searchFor"], RoleName = ViewData["RoleName"]})


    <table class="table table-sm table-striped text-center font-weight-bold">
        <thead>
        <tr>
            <th>User Name</th>
            <th>Role Name</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Data)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.RoleName</td>
                <td id="UpdateUserRole" ><button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#UpdateUserRole" data-url="@Url.Action("ChangeRole", "AdminUsers", new {id=user.UserId})">Update Role</button> </td>
            </tr>
        }
        </tbody>
    </table>

    <div>
        <cs-pager cs-paging-pagenumber="@Model.PageNumber"
                  cs-paging-totalitems="@Model.TotalItems"
                  cs-paging-pagesize="@Model.PageSize"
                  cs-pagenumber-param="pageIndex"
                  asp-route-UserName="@ViewData["searchFor"]"
                  asp-route-RoleName="@ViewData["RoleName"]"
                  cs-preserve-ambient-querystring="true"
                  asp-controller=@ViewData["Controller"]
                  asp-action=@ViewData["Action"]
                  cs-pager-li-current-class="page-item active"
                  cs-pager-li-other-class="page-item"
                  cs-pager-li-non-active-class="page-item disabled"
                  cs-pager-link-current-class="page-link"
                  cs-pager-link-other-class="page-link">
        </cs-pager>
    </div>
</div>