@* @model ECommerceProject.AdminUI.Models.Category.AddCategoryViewModel *@
@* *@
@* @{ *@
@*     ViewData["Title"] = "StatusPage"; *@
@* } *@
@* *@
@* <table class="table"> *@
@*     <thead> *@
@*         <tr> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.CategoryId) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.ParentCategoryId) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.IsDeleted) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Title) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.SubCategories) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.ParentCategory) *@
@*             </th> *@
@*             <th></th> *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@* *@
@*         <tr> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => modelItem.CategoryId) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => Model.ParentCategoryId) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => Model.IsDeleted) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => Model.Title) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => Model.SubCategories) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => Model.ParentCategory) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | *@
@*                 @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) | *@
@*                 @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
@*             </td> *@
@*         </tr> *@
@* *@
@*     </tbody> *@
@* </table> *@
