@model IEnumerable<ECommerceProject.AdminUI.Models.Product.ListAllProductsViewModel>
@{
    ViewData["Title"] = "Index";
}

@*@section scripts {
    <script>

      
        var elements = document.querySelectorAll("#priceOfProduct");
        for (var i = 0; i < elements.length; i++) {
            var oldValue = elements[i].innerText;
            var newValue = oldValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            console.log(newValue);
            var div = $("#priceOfProduct");
            $(div[i]).text(newValue);
        }

    </script>
}*@


<a class="button btn-sm btn-primary" asp-controller="Product" asp-action="AddProduct">Add Product</a>
    <table class="table-striped table table-sm">
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Product Color</th>
            <th>Count</th>
            <th>Is Approved</th>
            <th>Is Featured</th>
            <td>Is Stock</td>
            <th>Price</th>
            <th>Sub Category Name</th>
            <th>Image</th>
            <th>Description</th>

        </tr>

        @foreach (var product in Model)
        { 
    <tr>
        <td>@product.ProductId</td>
        <td>@product.ProductName</td>
        <td>@product.ProductColor</td>
        <td>@product.Count</td>
        <td>@product.IsApproved</td>
        <td>@product.IsFeatured</td>
        <td>@product.IsStock</td>
        <td @*id="priceOfProduct"*@>@product.Price.ToString("C")</td>
        <td>@product.CategoryName</td>
        <td><img src="~/productimages/@product.ImageUrl" width="50" /></td>
        <td>@Html.Raw(product.Description)</td>
        <td><a asp-controller="Product" asp-action="EditProduct" asp-route-id="@product.ProductId" class="btn btn-sm btn-orange">Edit</a></td>
        <td><a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@product.ProductId">Delete</a></td>
    </tr>
        }
    </table>

